@{
    ViewData["Title"] = "Sample";
}

<h1 class="display-4">Menu Tree with toogle</h1>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>
<p>Just to test the full page</p>