@{
    ViewData["Title"] = "Sample";
}

<div class="sidebar">
    <ul id="myUL">
        @ViewBag.MenuHtmlText
        <!--
        <li>
        <span class='caret'><a href='https://localhost:38499'>Beverages</a></span>
        <ul class='nested'>
            <li><a href='#'>Water</a></li>
            <li><a href='#'>Coffee</a></li>
            <li>
                <span class='caret'>Tea</span>
                <ul class='nested'>
                    <li><a href='#'>Black Tea</a></li>
                    <li><a href='#'>White Tea</a></li>
                    <li>
                        <span class='caret'>Green Tea</span>
                        <ul class='nested'>
                            <li><a href='#'>Sencha</a></li>
                            <li><a href='#'>Gyokuro</a></li>
                            <li><a href='#'>Matcha</a></li>
                            <li><a href='#'>Pi Lo Chun</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    -->
    </ul>
</div>

<div class="main">
    <h1 class="display-4">Menu Tree with toogle</h1>
</div>